

.vembedr {
  display: inline-block;
  border-radius: 25px; /* adjust it to your needs */
  overflow: hidden;
}

.vembedr iframe {
  display: block;
  border: none;
}

.txtFPS, .txtLogSpeed {
	/*font-family: monospace;  font-size: 1em; color: #E33;  */
  /*font-weight: bold;*/
  text-align: center;
  width: 3.5em;
}

/*FR: I added this to get rid of the "reset" button in the speed control UI. Just to simplify the UI. */
.bttnSpeedReset {
  display: none;
}

.txtSF {
  /* font-family: monospace;   */
	font-size: 1em;  font-weight: bold;
	text-align: center;  color: #E33;  width: 4.5em;
}
.divCtrlPanel {
	position: relative;
    margin: 0px; border: 1px solid; padding: 1ex;
}

.canvasAv {
	position: absolute; left: 0px; top: 0px;
	width: 100%; height: 100%;
	margin: 0px; border: 0px; padding: 0px;
}

.divAv {
	box-sizing: border-box;
	position: relative; background: #A3B8D2;
	width: 100%; height: 100%;
	margin: 0px; border: 1px solid; padding: 0px;
}

.CWASAAvatar {
	display: inline-block;
	background: #A3B8D2;
  max-width: 600px;
	width: 80%;
  height: 500px;
	border: 0px;
  padding: 0px;
}

.CWASAGUI {
	text-align: center;
	position: relative;
	margin: 0px; border: 0px; padding: 0px;
}

.txtaSiGMLText, .statusLog {
    /*font-family: monospace;
    font-size: 0.9em;
    */
    width: 500px;
}

.txtSiGMLURL {
    font-family: sans-serif;  font-size: 0.9em;  width: 24em;
}

.statusExtra {
    font-family: sans-serif;  font-size: 0.8em;  width: 24em;
}

.spanInfo {
	font-size: 90%;
}

.stocApplet { visibility: hidden;  height: 1px; }

.menuAv {
    font-family: sans-serif;  font-size: 0.9em;  width: 6em;
}

.undisplayed { display: none; }

/* Busy state */
body.busy::before {
   content: '';
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   z-index: 999;
   background: #eee url('../images/spinner.gif') center center no-repeat;
}

.explSpan{
  width: 450px;
  height: 500px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  display: inline-block;
  vertical-align:top;
}

.explSiGML{
  display: inline-block;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 330px;
  height: 480px;
}

.inputBox{
  width:100%;
  display:inline-block;
  resize: none;
}

.fadeIn{
  animation: fadein 1s;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.material-icons {
  display: inline-flex; vertical-align: text-bottom;
}

.alertBox{
  z-index: 20;
  position: fixed;
}

.glyphicon {
  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-up:before{
  content: "\f077" !important;
}
.glyphicon-chevron-down:before{
  content: "\f078" !important;
}

.container-fluid{
  width: 80%;
  text-align: center;
  height: 100%;
  margin-top: 40px;
}

#checkPage{
 width: 100%;
 height: 100%;
 background-color: #006666;
 text-align: center;
 display : block;
 z-index: 1040;
 position: fixed;
 margin: 0;
}

#pwdAlert{
 text-align: center;
 z-index: 1050;
 position: fixed;
}

.varBox{
  display: none;
  position: relative;
  width: 97%;
  height: 4%;
  left: 3%;
  text-align: left;
}

.currSentenceBox{
  background-color: #e4edf8;
  border-width: 0.5em;
  border-radius: 0.5em;
  padding: 1em;
  font-style: italic;
  display: block;
}

.subtitles{
  position: relative;
  background-color: #e4edf8;
  z-index: 100;
  height: 2em;
  font-size: 1.5em;
  bottom: 0;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

[data-id="sentenceOptions"]{
  background: #A3B8D2;
}

select.form-control{
  display: inline-block
}

.no-top-padding{
  padding-top: 0px !important;
}

.no-click-button{
  opacity: 0.4;
  pointer-events: none;
}

.textDIV{
  padding:0px !important;
}

.playgroundTextDIV{
  padding-left:0px !important;
  padding-right:0px !important;
  padding-bottom:0px !important;
}


.avatarGIF{
  /* margin-right: 80px; */
  /* margin-left: 80px; */
  margin-bottom: 40px;
}

.publicationDIV{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

